.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modal_content {
  padding: 20px;
  border-radius: 10px;
  background-color: rgb(56, 55, 55);
  height: 500px;
  width: 600px;
  transform: scale(0.5);
  transition: 0.4s all;
}

.modal_content.active {
  transform: scale(1);
}

.search_input {
  background-color: rgb(14, 13, 13);
  border: none;
  color: rgb(222, 221, 228);
  width: 220px;
  border-radius: 19px;
  padding: 10px 10px 10px 20px;
  margin-left: 30px;
}

.category_container {
  margin-top: 20px;
}

.columns_container {
  background-color: rgb(32, 32, 32);
  height: 400px;
  width: 250px;
  border-radius: 7px;
  float: left;
  margin-left: 30px;
  text-align: center;
}

.title_columns {
  font-size: 23px;
  color: rgb(222, 221, 228);
}

.apply_btn {
  background-color: rgb(14, 13, 13);
  color: rgb(222, 221, 228);
  padding: 7px;
  border-radius: 10px;
  width: 75px;
  cursor: pointer;
  border: none;
  position: absolute;
  right: 30px;
  bottom: 12px;
}
.apply_btn:hover {
  background-color: rgb(34, 34, 34);
}
.list {
  margin-left: -30px;
}

li {
  text-align: left;
  position: relative;
  list-style-type: none;
  background-color: rgb(63, 62, 62);
  color: rgb(222, 221, 228);
  margin: 12px;
  padding: 2px;
  padding-left: 10px;
  border-radius: 5px;
  width: 200px;
  -webkit-box-shadow: 14px 14px 7px -9px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 14px 14px 7px -9px rgba(0, 0, 0, 0.49);
  box-shadow: 14px 14px 7px -9px rgba(0, 0, 0, 0.49);
}

.li_draggable {
  cursor: grab;
}

.cross_img {
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  margin-top: 2px;
  opacity: 0.3;
}
.cross_img:hover {
  opacity: 1;
}
