table {
    border-spacing: 0px;
    border-collapse: collapse;
    color: rgb(222, 221, 228);
    width: 100%;
  }
  
  td {
    border: 1px solid rgb(170, 158, 172);
    text-align: center;
    padding: 8px;
  }
  
  