.table_container {
  background-color: rgb(34, 34, 34, 0.9);
  height: 80%;
  margin: 40px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  align-items: center;
}

.selectBtn {
  margin: 20px;
  height: 35px;
  border-radius: 7px;
  cursor: pointer;
  color: rgb(222, 221, 228);
  background-color: rgb(77, 77, 77);
  border: none;
}
.selectBtn:hover {
    background-color: rgb(105, 104, 104);
}

